.link a{
    color: #000;
    padding: 10px 20px;
    border: 1px solid #888;
    text-decoration: none;
    border-radius: 10px;
}

.link{
    display: flex;
    flex-direction: row;
    gap: 10px;
}